.Container {
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 83px;
  left: 69px;
  position: absolute;
  top: 235px;
  width: 823px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.SearchInput {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 713px;
  margin-left: 110px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
}

::placeholder {
  color: #000000;
}

.SearchInput:focus {
  outline: none;
}

.SearchIcon {
  left: 30px;
  position: absolute;
  top: 15px;
}
